body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/road2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  font: inherit;
	background-color: #f0f0f0;
	border: 0;
	color: #242424;
	border-radius: 0.5em;
	font-size: 3rem;
	padding: 0.375em 1em;
	font-weight: 600;
	text-shadow: 0 0.0625em 0 #fff;
	box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
		0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
		0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
	text-shadow: 0 0.0625em 0 #fff;
}

#buttonContainer {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  width: 50%;
}

button {
	font: inherit;
	background-color: #f0f0f0;
	border: 0;
	color: #242424;
	border-radius: 0.5em;
	font-size: 3rem;
	padding: 0.375em 1em;
	font-weight: 600;
	text-shadow: 0 0.0625em 0 #fff;
	box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
		0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
		0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
	transition: 0.15s ease;
	pointer: cursor;
	&:active,
	&:hover {
		translate: 0 0.225em;
		box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
			0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
			0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
		cursor: pointer;
	}
}


.totals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.386);
  backdrop-filter: brightness(70%) blur(1px);
}

.YTDtotals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.386);
  backdrop-filter: brightness(70%) blur(1px);
}

#records {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.386);
  backdrop-filter: brightness(70%) blur(1px);
}

nav {
  background-color:rgba(0, 0, 0, 0.600);
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav:hover {
  background-color: rgba(0, 0, 0, 0.750);
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 2rem;
}

nav a:hover {
  text-decoration: underline;
}

#map {
  border-radius: 5%;
}